<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'CSS/mystyle.css' %}" />
  </head>
  <body>
    <!-- <h2>below shows the list of users and their email ids</h2> -->

    <div class="container">
      <h1>Please Sign up here</h1>
      <form method="POST">
        {{ form.as_p }} {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="submit" />
      </form>
    </div>

    <!-- <div class="djangtwo">
      {% if users %}
      <table>
        <thead>
          <th>first name</th>
          <th>last name</th>
          <th>email id</th>
        </thead>
        {% for acc in users %}
        <tr>
          <td>{{ acc.first_name }}</td>
          <td>{{ acc.last_name }}</td>
          <td>{{ acc.email }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>NO access records found</p>
      {% endif %}
    </div> -->
  </body>
</html>
